  <!-- Comment Section -->
  <div class="comment-section">
    <!-- Comment List -->
    <div class="box">
      <article class="media">
        <div class="media-content">
        <div class="content" id="postedComments">

        </div>
        </div>
      </article>
    </div>

    <!-- Add a Comment -->
    <div class="field">
      <label class="label">Add a comment:</label>
      <div class="control">
        <textarea class="textarea" placeholder="Your comment..." id="commentContent"></textarea>
      </div>
      <div class="control">
        <button class="button is-primary" id="postCommentBtn">Post Comment</button>
      </div>
    </div>
  </div>

  <script src="/public/js/comments.js"></script>