<section class="section">
  {{#each arts as |art|}}
    <div class="container">
      {{> imagePost
        title=art.title
        description=art.description
        imageUrl=art.imageUrl
        userId=art.user_id
      }}
      {{> commentSection artId=art.id comments=art.comments logged_in=../logged_in }}
    </div>
  {{/each}}
</section>