<section class="section">
  {{#each arts}}
    <div class="container">
      {{> imagePost
        title=this.title
        description=this.description
        imageUrl=this.imageUrl
        username=this.user.username
      }}
      {{> commentSection artId=this.id comments=this.comments }}
    </div>
  {{/each}}
</section>