<div class="profile-container has-text-centered">
  <img class="profile-image" src="https://placekitten.com/150/150" alt="Profile Image">
  <div class="profile-name">@{{user.name}} </div>
  <div class="profile-details">Aspiring Artist</div>
  <div class="profile-bio">
    Hello, welcome to my page. I am a cartoonist, heavily influenced by Charles Shulz, the creator of Peanuts. Follow my page to see my work! </div>
  <div class="social-icons">
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="#" target="_blank"><i class="fab fa-500px"></i></a>
  </div>
</div>
