:root {
    --darkestblue: #1A1A2E;
    --midblue: #16213E;
    --blue: #0F3460;
    --red: #E94560;
    --bone: #FFE7C1;
    --green: #03C988;
    margin: 0px;

}

.navbar {
    background-color: var(--darkestblue);
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 1%;
    background-color: var(--red);
    transition-duration: 200ms;
    font-family: 'Roboto', sans-serif;
    font-size:larger;
    font-weight: bold;

}

.navbar-menu a {
    color: var(--darkestblue);
    transition-duration: 200ms;
    justify-content: space-between;
    display: inline;
    align-self: auto;
}

.navbar-menu a:hover {
    background-color: var(--red);
    color: var(--bone);
}

.navbar-end a:hover {
    background-color: var(--red);
    color: var(--bone);
    font-size: larger;
}


.hero {
    background-color: var(--darkestblue);
}

.hero-body {
    padding: 0;
}

.section {
    padding: 0;
}

#uploadBtn {
    background-color: var(--green);
    color: var(--bone);
    border-style: none;
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;
    margin: 20px;
}

body p {
    color: var(--bone);
    background-color: var(--midblue);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#uploadBtn {
    background-color: var(--green);
    color: var(--bone);
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition-duration: 200ms;
    margin: 20px;
}

.container {
    margin: auto;
    width: 75%;
    align-items: center;
}

.image {
    padding-top: 25px;
    padding-bottom: 5px;
    margin: auto;
    width: 75%;
    align-items: center;
}

.comment-section {
    padding-bottom: 5px;
    margin: auto;
    width: 75%;
    align-items: center;
}
.content  {
    padding-bottom: 5px;
    margin: auto;
    width: 75%;
    align-items: center;
}

.textarea {
    background-color: var(--blue);
    color: var(--bone);
    border-style: none;
    height: 30px;
}

body strong {
    color: var(--green);
}

.label {
    color: var(--green);
}

#postCommentBtn {
    background-color: var(--green);
    color: var(--bone);
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition-duration: 200ms;
    margin-top: 5px;
}

#postCommentBtn:hover {
    background-color: var(--bone);
    color: var(--green);
    font-weight: bold;
}

.card {
    background-color: var(--midblue);
}

.card-content {
    background-color: var(--midblue);
}

.box {
    background-color: var(--blue);
}

.content {
    background-color: var(--blue);
}

.content {
    background-color: var(--darkestblue);
    color: var(--bone);
    text-align: center;
}

.content p {
    text-align: left;
}

.title.is-4 {
    color: var(--green);
}

.subtitle.is-6 {
    color: var(--bone);
}

.title {
    color: var(--green);
}

.input {
    background-color: var(--bone);
    border-style: none;
    color: var(--darkestblue);
    font-family: 'Roboto', sans-serif;
}

#name-signup::placeholder {
    color: var(--darkestblue);
}

#email-signup::placeholder {
    color: var(--darkestblue);
}

#password-signup::placeholder {
    color: var(--darkestblue);
}

#username-login::placeholder {
    color: var(--darkestblue);
}

#password-login::placeholder {
    color: var(--darkestblue);
}

#loginButton {
    background-color: var(--blue);
    color: var(--bone);
    font-weight: bold;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;    
}

#loginButton:hover {
    background-color: var(--bone);
    color: var(--blue);
    font-weight: bold;
}

#signupButton {
    background-color: var(--blue);
    color: var(--bone);
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition-duration: 200ms;    
}

#signupButton:hover {
    background-color: var(--bone);
    color: var(--blue);
    font-weight: bold;
}

.button {
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;
    background-color: var(--red);
    border-style: none;
    font-weight: bold;
    color: var(--darkestblue);
    font-size: 20px;
}

.button:hover {
    color: var(--bone);
}

.dropdown-item {
    background-color: var(--red);
    color: var(--darkestblue);
    font-size: large;
    text-align: center;
}

a.dropdown-item:hover {
    color: var(--bone);
}

.dropdown-item:hover {
    color: var(--bone);
}

.dropdown-content {
    background-color: var(--red);
    color: var(--darkestblue);
}

#dropdown-menu a {
    color: var(--darkestblue);
}

#dropdown-menu a:hover {
    color: var(--bone);
}

#uploadBtn {
    background-color: var(--blue);
    color: var(--bone);
    font-weight: bold;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;  
}

#uploadBtn:hover {
    background-color: var(--bone);
    color: var(--blue);
    font-weight: bold;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--blue);
    border-radius: 8px;
    align-content: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--green);
    margin-bottom: 10px;
  }
  
  .profile-details {
    font-size: 1.2em;
    color: var(--bone);
    margin-bottom: 20px;
  }
  
  .profile-bio {
    font-size: 1em;
    line-height: 1.5;
    color: var(--bone);
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #3273dc;
    margin-right: 15px;
    font-size: 1.5em;
  }

  #uploadFormBtn {
    background-color: var(--blue);
    color: var(--bone);
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition-duration: 200ms;    
}

#uploadFormBtn:hover {
    background-color: var(--bone);
    color: var(--blue);
    font-weight: bold;
}

.tabs a {
    font-weight: bold;
}

.button {
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;
    background-color: var(--red);
    border-style: none;
    font-weight: bold;
    color: var(--darkestblue);
    font-size: 20px;
}

.button:hover {
    color: var(--bone);
}

.dropdown-item {
    background-color: var(--red);
    color: var(--darkestblue);
}

.dropdown-content {
    background-color: var(--red);
    color: var(--darkestblue);
}

#dropdown-menu a {
    
}